{% extends "base.html.twig" %}
{% block body %}
TEST
	{#}if post request exist{#}
	{% if app.request.method == 'POST' %}

		{% if posts | length == 0 %}

			<h4>Aucun resultat :( </h4>

		{% else %}
			{% include "post/_posts.html.twig" %}
		{% endif %}

	{% endif %}

{% endblock %}
